<%= render 'devise/shared/error_messages', resource: resource %>

<div class="log_in">
  <div class="cont">
    <div class="form sign-in">
      <h2><%= t('devise.sessions.time_to_fill_like_home') %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <label>
          <span><%= f.label :nickname %></span>
          <%= f.text_field :nickname %>
        </label>
        <label>
          <span><%= f.label :email %></span>
          <%= f.email_field :email, autocomplete: 'email' %>
        </label>
        <label>
          <span><%= f.label :password %></span>
          <%= f.password_field :password, autocomplete: 'new-password' %>
        </label>
        <label>
         <span><%= f.label :password_confirmation %></span>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
        </label>
        <%= f.button translate('devise.registrations.sign_up'), class: 'submit' %>
      <% end %>
      <% session[:return_to] ||= request.referer %>
    </div>
    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h2><%= t('devise.sessions.one_of_us') %></h2>
          <p><%= t('devise.sessions.we_have_missed_you') %></p>
        </div>
        <div class="img__btn">
          <%- if controller_name != 'sessions' %>
            <%= link_to t('devise.sessions.sign_in'), new_session_path(resource_name) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

