<% nesting = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>

<div class="border-left pl-4 mt-4">
  <% if can?(:read, comment) %>
    <% if comment.deleted? %>
      <strong>[deleted]</strong> posted
      <p>[deleted]</p>
    <% else %>
      <div class="media">
        <%= image_tag(check_avatar(comment.user), class: 'img_comment d-flex mr-3 rounded-circle') %>
        <div class="media-body">
          <small class="text-muted">
            <%=link_to comment.user.email, user_path(comment.user) %>
          </small><br/>
          <%= comment.body %>
          <div data-controller="reply">
            <small>
              <div class="dropdown">
                <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= translate('comments.reply') %>
                </a>
                <div class="dropdown-menu col-lg-8" aria-labelledby="dropdownMenuButton">
                  <%= render partial: 'comments/form', locals: {
                      commentable: comment.commentable,
                      parent_id: reply_to_comment_id(comment, nesting, max_nesting),
                      class: 'mt-4',
                      target: 'reply.form'
                  } %>
                </div>
                <%= link_to translate('comments.delete'), [comment.commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } if comment.user == current_user %>
              </div>
            </small>
          </div>
        </div>
      </div>
    <% end %>
    <%= tag.div id: "#{dom_id(comment)}_comments" do %>
      <% if comment.comments.any? %>
        <%= render comment.comments, nesting: nesting + 1, max_nesting: max_nesting %>
      <% end %>
    <% end %>
  <% end %>
</div>







