<% nesting = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>

<div class="border-left pl-4 mt-4">
  <% if comment.deleted? %>
    <strong>[deleted]</strong> posted
    <p>[deleted]</p>
  <% else %>
    <div class="media mb-4">
      <% if comment.user.photo.attached? %>
        <%= image_tag(comment.user.photo, class: "img_comment d-flex mr-3 rounded-circle") %>
      <% else %>
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img_comment d-flex mr-3 rounded-circle">
      <% end %>
      <div class="media-body">
        <small class="text-muted"><%= comment.user.email %></small>
        <%= simple_format comment.body %>
      </div>
    </div>
  <% end %>
  <div data-controller="reply">
    <small>
      <%#= link_to 'Reply', '#', data: { action: 'click->reply#toggle' }  %>
      <%= link_to 'Delete', [comment.commentable, comment], method: :delete, data: {confirm: "Are you sure?"} if comment.user == current_user %>
    </small>
    <%= render partial: 'comments/form', locals: {
        commentable: comment.commentable,
        parent_id: reply_to_comment_id(comment, nesting, max_nesting),
        class: 'mt-4',
        target: "reply.form"
    } %>
  </div>

  <%= tag.div id: "#{dom_id(comment)}_comments" do%>
    <% if comment.comments.any? %>
      <%= render comment.comments, nesting: nesting + 1, max_nesting: max_nesting %>
    <% end %>
  <% end %>
</div>







