<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-0"><em><%=@user.email%></em> <%= translate('persons.comment')%> <%= translate('persons.activity') %> </h5>
        </div>
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
            <tr>
              <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
              <th scope="col" class="border-0 text-uppercase font-medium">
                Comment
                <%= link_to "", comments_activity_user_path(@user, body: "ASC"), class: 'fa fa-caret-up' %>
                <%= link_to "", comments_activity_user_path(@user, body: "DESC"), class: 'fa fa-caret-down' %>
              </th>
              <th scope="col" class="border-0 text-uppercase font-medium">
                News
              </th>
              <th scope="col" class="border-0 text-uppercase font-medium">
                Date
                <%= link_to "", comments_activity_user_path(@user, created_at: "ASC"), class: 'fa fa-caret-up' %>
                <%= link_to "", comments_activity_user_path(@user, created_at: "DESC"), class: 'fa fa-caret-down' %>
              </th>
            </tr>
            </thead>
            <tbody>
            <% @comments.each.with_index(1) do |comment, index| %>
              <tr>
                <td class="pl-4"><%= index %></td>
                <td>
                  <% if comment.body.length > 100 %>
                    <h12 class="font-medium mb-0"><%= comment.body[0..100] %>...</h12>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
                      <%= translate('persons.more') %>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <%= comment.body %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <h12 class="font-medium mb-0"><%= comment.body %></h12>
                  <% end %>
                </td>
                <td>
                  <span class="text-muted"><%= link_to "#{comment.commentable.title[0..60]}...", item_path(comment.commentable) %></span>
                </td>
                <td>
                  <span class="text-muted"><%= comment.created_at %></span><br>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <ul class="pagination justify-content-center mt-4">
        <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
        <p><%= link_to translate('persons.back_to_user'), user_path(@user),class: "ml-4 pull-right btn btn-outline-secondary" %></p>
      </ul>
    </div>
  </div>
</div>


