<%= render 'devise/shared/error_messages', resource: resource %>
<div class="log_in">
  <div class="cont">
    <div class="form">
      <h2 style="margin-top: 100px;"><%= t 'devise.passwords.change_password' %></h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <label>
          <span><%= f.label :password, translate('devise.passwords.new_password') %></span>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: 'new-password' %>
        </label>
        <label>
          <span><%= f.label :password_confirmation, translate('devise.passwords.confirm_password') %></span>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password' %>
        </label>
        <%= f.button translate('devise.passwords.change_my_password'), class: 'submit' %>
      <% end %>
    </div>
    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h2><%= t('devise.sessions.one_of_us') %></h2>
          <p><%= t('devise.sessions.we_have_missed_you') %></p>
        </div>
        <div class="img__btn">
          <%- if controller_name != 'sessions' %>
            <%= link_to t('devise.sessions.sign_in'), new_session_path(resource_name) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
