<h1><%= t 'persons.persons_profile' %></h1>
<p><%= t 'persons.find_me' %></p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%# if user_signed_in? %>
<!--  <span><%= t 'persons.hello' %>, <%#= current_user.email %></span>-->
  <%#= link_to "#{translate('persons.exit')}", destroy_user_session_path, :method => :delete %>
<%# else %>
<!--  <%#= link_to "#{translate('persons.sign_in')}", new_user_session_path %> <%= t 'persons.or' %> <%#= link_to #{translate('profile.sign_up')}, new_user_registration_path %>-->
<%# end %>
