<div class="white-form">
  <div class="cont">
    <div class="form form-group" style="margin-top: 80px;">
      <h3><%= translate('rss_subscriptions.create_rss_subscription') %></h3>
      <%= simple_form_for @rss_subscription do |f| %>
        <%= f.input :reference_link, label: false, placeholder: t('rss_subscriptions.reference_link') %>
        <%= f.input :category , collection: @categories %>
        <%= f.button :submit, class: 'btn btn-sm btn-light btn-xs btn-block' %>
      <% end %>
    </div>
    <div class="books-img-background"></div>
  </div>
</div>
