

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />



<div class="container">
  <div class="mt-5">
    <% @rss_subscriptions.each do |subscription| %>
      <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <!-- Basic Plan -->

          <div class="row align-items-center">
            <div class="col-12 col-md-4">
              <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                <%= translate('rss_subscriptions.rss_subscription_from')%><br/>
                <small><small><%= subscription.created_at %></small></small>
              </h4>
            </div>

            <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
              <li>
                <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                <span class="text-110"><i class="material-icons text-info mr-2"><%= translate('rss_subscriptions.category')%></i> <%= subscription.category  %></span>
              </li>

              <li class="mt-25">
                <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                <span class="text-110">
                  <i class="material-icons text-info mr-2"><%= translate('rss_subscriptions.link')%></i> <%= link_to subscription.reference_link, subscription.reference_link  %>
                </span>
              </li>
            </ul>

            <div class="col-12 col-md-4 text-center">
              <%= link_to translate('rss_subscriptions.delete'), subscription ,method: :delete, class: "f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" %>
            </div>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
