<div class="row gutters-sm">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">News digest</i></h6>
        <small><%= translate('subscriptions.sending_frequency') %></small>
        <div class="mb-3" style="height: 10px">
          <div><small><i class="material-icons text-info mr-2"><%= subscription.sending_frequency %></i></small></div>
        </div>
        <small><%= translate('subscriptions.last_send') %></small>
        <div class="mb-3" style="height: 10px">
          <div><small><i class="material-icons text-info mr-2"><%= subscription.last_sent %></i></small></div>
        </div>
        <% unless subscription.sending_frequency == 'instantly' %>
          <small><%= translate('subscriptions.dispatch_hour') %></small>
          <div class="mb-3" style="height: 10px">
            <div><small><i class="material-icons text-info mr-2"><%= pluralize(subscription.dispatch_hour, 'hour', locale: :en) %></i></small></div>
          </div>
        <% end %>
        <small><%= translate('subscriptions.subscriptions') %></small>
        <div class="mb-3" style="height: 10px">
          <div><small><i class="material-icons text-info mr-2"><%= translate('subscriptions.categories') %>:</i>  <%= subscription.categories.reject(&:empty?).map{|c| c}.join(', ')  %></small></div>
        </div>
        <div class="mb-3" style="height: 10px">
          <div><small><i class="material-icons text-info mr-2"><%= translate('subscriptions.regions')%>:</i> <%= subscription.regions.reject(&:empty?).map{|c| c}.join(', ') %></small></div>
        </div>
        <%= link_to translate('items.edit'),  edit_user_subscription_path(@user, @user.subscription), class: "btn btn-sm btn-outline-secondary mt-2" %>
        <%= link_to translate('items.delete'), user_subscription_path(@user, @user.subscription), method: :delete, data: { confirm: "Are you sure?"},class: "btn btn-sm btn-outline-danger mt-2" %>
      </div>
    </div>
  </div>
</div>
