<div class="col-lg-12 d-flex justify-content-center">
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= simple_form_for @item do |f| %>
    <% if @item.errors.any? %>
      <% @item.errors.each do |attr, msg| %>
        <div class="alert alert-danger", role="alert">
          <%= attr %> <%= msg %>
        </div>
      <% end %>
    <% end %>
    <% if can?(:change_item, Item) %>
      <%= f.input :title, placeholder:'Title' %>
      <%= f.input :short_description, placeholder:'Short description' %>
      <%= f.input :category, collection: @categories, placeholder:'Category' %>
      <%= f.input :mask, collection: @access_masks, placeholder:'Mask' %>
      <%= f.input :region, placeholder:'Region' %>
      <%= f.file_field :main_img_href %>
      <%= f.input :main_img, placeholder:'Image href' %>
      <%= f.input :flag,  as: :radio_buttons, label: translate('simple_form.important') %>
      <%= f.input :tag_list, label: translate('items.tags') , placeholder:'Tags' %>
      <%= f.input :full_text, as: :ckeditor %>
    <% end %>
    <% if can?(:change_status, Item) %>
      <% if can?(:approve, Item) %>
        <%= f.input :status, collection: @statuses, placeholder:'Status' %>
      <% else %>
        <%= f.input :status, collection: @statuses_correspondent, placeholder:'Status' %>
      <% end %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= f.button :submit, class: 'btn btn-success btn-xs btn-block' %>
    </div>
  <% end %>
</div>


