<div class="col-lg-3 mb-4 d-flex align-items-stretch">
  <div class="card mb-4 shadow-sm">
    <%= image_tag(find_main_image(other_item), class: 'my_other_item_image bd-placeholder-img card-img-top') %>
    <% unless other_item.reviews.blank? %>
      <span class="o-prop-tag-right item-average-review-rating" data-score=<%= other_item.reviews.average(:rating)&.round(2) %>></span>
    <% end %>
    <div class="card-body">
      <p class="card-text text-left mb-1"><small><%= other_item.title %></small></p>
      <div class="down">
        <small>
          <small class="text-muted float-left"><%= other_item.created_at %></small>
          <small class="float-right "><i class="fa fa-eye"></i> <%= other_item.item_views.count %></small>
        </small>
      </div>
    </div>
    <div class="card-footer text-center">
      <div class="btn-group">
        <%= link_to translate('items.read_more'), other_item, class: 'btn btn-sm btn-outline-secondary' %>
        <% if can? :update, other_item %>
          <%= link_to translate('items.edit'), edit_item_path(other_item), class: 'btn btn-sm btn-outline-secondary' %>
        <% end %>
        <% if can? :destroy, other_item %>
          <%= link_to translate('items.destroy'), other_item, method: :delete, class: 'btn btn-sm btn-outline-danger' %>
        <% end %>
    </div>
    </div>
  </div>
</div>
