<form action="<%= item_path(@item) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH" />
  <div class="form-group">
    <label for="title"><%= t 'items.title' %></label>
    <input type="text" name="item[title]" value="<%= @item.title %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1"><%= t 'items.choose_category' %></label>
    <select class="form-control" name="item[category]">
      <% @categories.each do |category| %>
        <option value="<%= category %>" <% if @item.category == category %>selected=selected<% end %>><%= category %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label><%= t 'items.short_description' %>:</label>
    <textarea name="item[short_description]" class="form-control" rows="10">
      <%= @item.short_description %>
    </textarea>
  </div>
  <!--  token to avoid CSRF attacks-->
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button type="submit" class="btn btn-primary"><%= t 'items.edit' %></button>
</form>
