<h1 class="my-4">
  <% if params[:category] == nil %>
    <%= t 'items.all_news' %>
  <% else %>
    <%= params[:category].capitalize %>
  <% end %>
</h1>
<h1><small><%= t 'items.designed_by' %></small></h1>

<!--#1-->
<%# @items.each do |item| %>
<!--<div class="card mb-4">-->
  <%# if item.main_img_href.attached?%>
<!--    <div style="width: 928px; height: 500px">-->
      <%#= image_tag(item.main_img_href, style: 'width: 100%; height: 100%')%>
<!--    </div>-->
    <%# else %>
<!--    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">-->
  <%# end %>


<!--  <div class="card-body">-->
<!--    <h2 class="card-title"><%#= item.title %></h2>-->
<!--    <p class="card-text"><%#= item.short_description.length <= 2000 ? item.short_description : item.short_description[0..2000] %></p>-->
    <%#= link_to "#{translate('items.read_more')}", item, class: "btn btn-primary" %>
    <%# if can? :update, item %>
      <%#= link_to "#{translate('items.edit')}", edit_item_path(item), class: "btn btn-primary" %>
    <%# end %>
    <%# if can? :destroy, item %>
      <%#= link_to "#{translate('items.destroy')}", item, method: :delete, class: "btn btn-primary" %>
    <%# end %>
<!--  </div>-->
<!--  <div class="card-footer text-muted">-->
    <%#= item.created_at %>
<!--  </div>-->
<!--</div>-->
<%# end %>

<!--#2-->
<hr/>
<h1><small><%= t 'items.important_news' %></small></h1>
<main role="main">
  <div class="album py-5 bg-dark">
    <div class="container">

      <div class="row">
        <% @items.each do |item| %>
          <% if item.flag %>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <% if item.main_img_href.attached? %>
                  <%= image_tag(item.main_img_href, style: 'width: 100%; height: 225px; preserveAspectRatio="xMidYMid slice"; focusable="false"; role="img"', class: "bd-placeholder-img card-img-top") %>
                <% else %>
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Заполнитель: значок"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="42.5%" y="50%" fill="#eceeef" dy=".3em"><%= t "items.image" %></text></svg>
                <% end %>
                <div class="card-body">
                  <p class="card-text"><font style="vertical-align: inherit;"></font><font style="vertical-align: inherit;"><%= item.title %></font></p>
                    <div class="btn-group">
                      <%= link_to "#{translate('items.read_more')}", item, class: "btn btn-sm btn-outline-secondary" %>
                      <% if can? :update, item %>
                        <%= link_to "#{translate('items.edit')}", edit_item_path(item), class: "btn btn-sm btn-outline-secondary" %>
                      <% end %>
                      <% if can? :destroy, item %>
                        <%= link_to "#{translate('items.destroy')}", item, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
                      <% end %>
                    </div>
                    </br><small class="text-muted"><%= item.created_at %></small>
                </div>
              </div>
            </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>

<hr/>
<h1><small><%= t 'items.other_news' %></small></h1>
<div class="container">
  <div class="row text-center">
    <% @items.each do |item| %>
      <% unless item.flag %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card-img-top">
            <% if item.main_img_href.attached? %>
              <%= image_tag(item.main_img_href, style: 'width: 100%; height: 150px; preserveAspectRatio="xMidYMid slice"; focusable="false"; role="img"', class: "bd-placeholder-img card-img-top") %>
            <% else %>
              <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <% end %>

            <div class="card-body">
              <p class="card-text"><small><%= item.title %></small></p>
            </div>
            <div class="card-footer">
              <div class="btn-group">
                <%= link_to "#{translate('items.read_more')}", item, class: "btn btn-sm btn-outline-secondary" %>
                <% if can? :update, item %>
                  <%= link_to "#{translate('items.edit')}", edit_item_path(item), class: "btn btn-sm btn-outline-secondary" %>
                <% end %>
                <% if can? :destroy, item %>
                  <%= link_to "#{translate('items.destroy')}", item, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
                <% end %>
              </div>
              <small class="text-muted"><%= item.created_at %></small>
            </div>
          </div>
        </div>
        <% end %>
    <% end %>

  </div>

</div>

<!-- Pagination -->
<ul class="pagination justify-content-center ">
  <li class="page-item">
    <a class="page-link" href="#">&larr; Older</a>
  </li>
  <li class="page-item disabled">
    <a class="page-link" href="#">Newer &rarr;</a>
  </li>
</ul>








