<div class="container-fluid">
  <div class="row">

    <div class="col-lg-3">
      <div class="card my-4">
        <h5 class="card-header"><%= translate('items.tag_cloud') %></h5>
        <div class="card-body">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <% tag_cloud(@tags.sort_by { |a| a.name }, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                <li class="breadcrumb-item">
                  <%= link_to tag.name, items_path(tag: tag.name), :class => css_class %>
                </li>
              <% end %>
            </ol>
          </nav>
        </div>
      </div>

      <div class="card my-4">
        <h5 class="card-header"><%= translate('items.last_reviews') %></h5>
        <div class="card-body">
          <div>
            <%= render @item.reviews.order(:updated_at).limit(5) %>
          </div>
          <hr/>
          <div>
            <strong><%= translate('items.my_review') %>:</strong>
            <% if current_user %>
              <% if @user_review %>
                <div class="review-rating" data-score="<%= @user_review.rating %>"></div>
                <p><%= @user_review.comment %></p>
                <%= link_to translate('items.edit'), edit_item_review_path(@user_review.item, @user_review) %>
                <%= link_to translate('items.delete'), item_review_path(@user_review.item, @user_review), method: :delete, data: { confirm: "Are you sure?"} %>
              <% end %>
            <% end %>
            <% if @can_review %>
              <%# if can?(:review, @can_review) %>
              <%= link_to translate('items.new_review'), new_item_review_path(@item) %>
              <%# end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-9">

      <div class="card mt-4">
        <% if @item.main_img_href.attached? %>
          <%= image_tag(@item.main_img_href, class: "my_news_main_img card-img-top") %>
        <% else %>
          <img class="" src="http://placehold.it/900x400" alt="">
        <% end %>

        <div class="card-body">
          <h3 class="card-title"><%= @item.title %></h3>
          <span class="text-warning average-review-rating", data-score=<%= @average_review %>>Average rating: </span>
          <span> <%= translate('items.based_on') %> <%= @item.reviews.count %> <%= translate('items.reviews') %></span>
          <p class="card-text">
            <strong><%= translate('items.redactor') %>: </strong> <%= @redactor%> /
            <strong><%= translate('items.updated_at') %>: </strong> <%= @item.updated_at %> /
            <strong><%= translate('items.category') %>: </strong><%= link_to @item.category, items_path(category: @item.category) %> /
            <strong><%= translate('items.region') %>: </strong><%= link_to @item.region, items_path(region: @item.region) %> /
            <strong><%= translate('items.tags') %>: </strong><%==  @item.tags.map{ |t| link_to t.name, items_path(tag: t.name)}.join(', ')%>
          </p>
          <div class="row">
            <div class="col-md-9">
              <% if can?(:update, @item) %>
                <%= link_to translate('items.edit'), edit_item_path(@item), class: "btn btn-primary" %>
              <% end %>
              <% if can?(:destroy, @item) %>
                <%= link_to translate('items.destroy'), @item, method: :delete, class: "btn btn-primary" %>
              <% end %>
            </div>
            <div class="col-md-3 text-right">
              <%= tweet_button( url: request.original_url, text: "Title: #{@item.title}.\nShort description: #{@item.short_description}\nMain img: #{url_for(@item.main_img_href) if @item.main_img_href.attached?}", class: "pull-right") %>
              <script src="https://yastatic.net/share2/share.js" async></script>
              <div class="ya-share2 pull-right" data-curtain data-lang="en" data-services="vkontakte,facebook,odnoklassniki,telegram,skype"></div>
            </div>
          </div>
          <hr/>
          <% unless current_user %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Do you want to read the news without limits?</strong>
              <%= link_to translate('items.register_here') + '!', new_user_registration_path %>
              <%= translate('items.or') %>
              <%= link_to translate('items.sign_in') + '!', new_user_session_path %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
          <% if can?(:read_full_text, @item) || can?(:read_annotation, @item) %>
            <div class="card-body">
              <% if can?(:read_annotation, @item) %>
                <p><strong><%= translate('items.text_annotation')%></strong>: <%= @item.short_description %></p>
              <% end %>
              <% if can?(:read_full_text, @item) %>
                <p><strong><%= translate('items.full_text')%></strong>: <%= @item.full_text.html_safe %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
        <% if can?(:mamage, @item)%>
          <div class="card mt-4">
            <h5 class="card-header"><%= translate('items.rating_change') %></h5>
            <div class="card-body">
              <%= line_chart StatisticsHelper.rating_changed(@item) %>
            </div>
          </div>
          <div class="card mt-4">
            <h5 class="card-header"><%= translate('items.percent_countries') %></h5>
            <div class="card-body">
              <%= pie_chart StatisticsHelper.countries_for_item(@item).to_a %>
            </div>
          </div>
        <% end %>
        <% if can?(:comment_item, @item) %>
          <div class="card mt-4">
            <h5 class="card-header"><%= translate('items.leave_a_comment') %></h5>
            <div class="card-body">
              <div id='comments'>
                <%= render partial: 'comments/form', locals: {commentable: @item} %>
                <% if @item.comments.any? %>
                  <%= render @item.comments.where(parent_id: nil), max_nesting: 5 %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>


<%#= pie_chart Review.select("AVG(rating) as AV, item_id").group(:item_id).group_by_day(:created_at).count %>



<script>
      $('.review-rating').raty({
          readOnly: true,
          path: '/assets/',
          score: function() {
              return $(this).attr('data-score')
          }
      });
</script>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
        });
</script>

<script>
  function func(){
      $.ajax({
          type: 'POST',
          url: '<%= track_item_path(@item) %>',
          data: {
              authenticity_token: $('[name="csrf-token"]')[0].content
          },
      });
  }
    let timerId = setInterval(() => func(), <%= ItemsController::TRACK_INTERVAL * 1000 %>);
</script>
