<!-- Title -->
<h1 class="mt-4"><%= @item.title %></h1>

<!-- Author -->
<p class="lead">

</p>

<hr>

<!-- Date/Time -->
<p><%= @item.updated_at %></p>

<hr>
<p><%= @item.region %></p>

<hr>
<p>Important: <%= @item.flag %></p>

<hr>
<p>Redactor: <%= @redactor%></p>

<hr>
<p>Tags: <%==  @item.tags.map{ |t| link_to t.name, items_path(tag: t.name)}.join(', ')%></p>

<hr>

<% if can?(:read_annotation, @item) %>
  <%= @item.short_description %>
  <hr>
<% end %>
<% if can?(:read_full_text, @item) %>
  <div class="full_text">
  <%= @item.full_text.html_safe %>
  </div>
  <hr>
<% end %>

<% if can?(:update, @item) %>
  <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-primary" %>
<% end %>
<% if can?(:destroy, @item) %>
  <%= link_to "#{translate('items.destroy')}", @item, method: :delete, class: "btn btn-primary" %>
<% end %>


<!--<div class="card my-4">-->
<!--  <h5 class="card-header">Leave a Comment:</h5>-->
<!--  <div class="card-body">-->
    <%#= form_with model: [ @item, @item.comments.build ], local: true do |f| %>
        <%#= f.text_area :body, class: 'form-control', rows: 3 %>
        <%#= f.button :submit, class: 'btn btn-primary' %>
    <%# end %>
<!--  </div>-->
<!--</div>-->

<%# if @item.comments.any? %>
  <%# @item.comments.order(created_at: :desc).each do |comment| %>
<!--    <div class="media mb-4">-->
<!--      <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50">-->
<!--      <div class="media-body">-->
<!--        <h5 class="mt-0"><%#= comment.commenter %></h5>-->
        <%#= comment.body %>
<!--      </div>-->
<!--    </div>-->
  <%# end %>
<%# end %>

<h2>Comments</h2>
<% rander partial: 'comments/form', locals: {commentable: @item} %>


<%#= render 'disqus' %>
