<% if @review.errors.any? %>
  <% @review.errors.each do |attr, msg| %>
    <div class="alert alert-danger mt-2", role="alert">
      <%= attr %> <%= msg %>
    </div>
  <% end %>
<% end %>

<!--  Решить проплему с перерендерингом -->


<%= simple_form_for([@item, @review]) do |f| %>
  <div class="rating-form">
    <label>Rating</label>
  </div>
  <%= f.input :comment %>
  <%= f.button :submit, class: 'btn btn-sm btn-light btn-xs btn-block' %>
<% end %>


<script>
    $('.rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>
