<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css" integrity="sha256-nwNjrH7J9zS/Ti4twtWX7OsC5QdQHCIKTv5cLMsGo68=" crossorigin="anonymous" />

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <%= link_to translate('layouts.site_name'), root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t 'items.categories' %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @categories.keys.each do |category| %>
            <%= link_to translate('items.' + category).capitalize, items_path(category: category), class: 'dropdown-item' %>
          <% end %>
          <%= link_to translate('layouts.rss_news'), items_path(rss: true), class: 'dropdown-item'%>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= translate('layouts.more') %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <%= link_to translate('layouts.more_commentable'), items_path(commentable: true), class: 'dropdown-item' %>
          <%= link_to translate('layouts.more_readable'), items_path(readable: true), class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <% if can? :new, Item %><%= link_to t('layouts.create_news'), new_item_path, class: 'nav-link' %><% end %>
      </li>
      <li class="nav-item dropdown">
        <% if current_user && current_user.role.in?(%w[admin redactor correspondent]) %>
          <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t 'items.manage' %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <% if can?(:read_verification, Item) %>
              <%= link_to t('layouts.verification'), items_path(status: 'check'), class: 'dropdown-item' %>
            <% end %>
            <% if can?(:read_revision, Item) %>
              <%= link_to t('layouts.revision'), items_path(status: 'revision'), class: 'dropdown-item' %>
            <% end %>
            <% if can?(:check_archive, Item) %>
              <%= link_to t('layouts.archive'), items_path(status: 'archive'), class: 'dropdown-item' %>
            <% end %>
          </div>
        <% end %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to t('layouts.profile'), user_path(current_user), class: 'nav-link' %>
        </li>
      <% end %>
      <li class="nav-item">
          <%= link_to t('layouts.all_profiles'), users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="mdi mdi-web"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
          <%= link_to 'RU', root_path(locale: :ru), class: 'dropdown-item' %>
          <%= link_to 'EN', root_path(locale: :en), class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
    <div>
      <%= render 'search/form' %>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= link_to translate('layouts.exit'), destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary' %>
      <% else %>
          <%= link_to translate('layouts.log_in'), new_user_session_path, class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to translate('layouts.sign_up'), new_user_registration_path, class: 'btn btn-sm btn-outline-secondary' %>
      <% end %>
      <%= link_to image_tag('feed-icon-28x28.png'), items_url(:rss), target: :_blank %>
    </div>
  </div>
</nav>
