<!DOCTYPE html>
<html>
  <head>
    <title>NewsPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <span>Здравствуйте, <%= current_user.email %></span>
      <%= link_to translate('layouts.exit'), destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to translate('layouts.log_in'), new_user_session_path %> <%= translate('layouts.or') %> <%= link_to translate('layouts.sign_up'), new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
