<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'layouts.news_portal' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= javascript_include_tag '/jquery.raty.js' %>
  </head>

  <body>
  <div class="container-fluid" >
<!--    style="background-image: url('<%#= image_url('2.jpg') %>')"-->
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>

  </body>
</html>
