<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'layouts.news_portal' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><%= t 'layouts.site_name' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><%= t 'layouts.all_news' %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t 'items.categories' %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @categories.each do |category| %>
                <%= link_to "#{category.capitalize}", items_path(category: "#{category}"), class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item">
            <% if can? :new, Item %><%= link_to  "#{t 'layouts.create_news'}", new_item_path, class: 'nav-link' %><% end %>
          </li>
          <li class="nav-item">
            <%= link_to  "#{t 'layouts.profile'}", users_profile_path, class: 'nav-link' %>
          </li>
<!--          <li class="nav-item">-->
            <%# if can? :read ,User %><%#= link_to  "#{t 'layouts.all_profiles'}", users_path, class: 'nav-link' %><%# end %>
<!--          </li>-->
        </ul>
        <div>
          <% if user_signed_in? %>
            <span><%= t 'layouts.hello' %>, <%= current_user.email %></span>
            <button type="button" class="btn btn-dark">
              <%= link_to translate('layouts.exit'), destroy_user_session_path, method: :delete %>
            </button>
          <% else %>
            <button type="button" class="btn btn-dark">
              <%= link_to translate('layouts.log_in'), new_user_session_path %>
            </button>
            <button type="button" class="btn btn-dark">
              <%= link_to translate('layouts.sign_up'), new_user_registration_path %>
            </button>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-9">
      <%= yield %>
      </div>
      <div class="col-md-3">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Tag cloud -->
        <% if @tags %>
        <div class="card my-4">
          <h5 class="card-header">Tag cloud</h5>
          <div class="card-body">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">

                  <% tag_cloud(@tags.sort_by { |a| a.name }, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                    <li class="breadcrumb-item">
                    <%= link_to tag.name, items_path(tag: tag.name), :class => css_class %>
                    </li>
                  <% end %>
              </ol>
            </nav>
          </div>
        </div>
        <% end %>
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
