<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'layouts.news_portal' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= javascript_include_tag '/jquery.raty.js' %>

    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash.any? %>
    <% flash.each do |key, value| -%>
      <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
    <% end -%>
  <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
